<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <style>
        nav {
            background-color: #565e64;
            padding: 2em;
        }
        a {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<nav>
    <a href="#">Empleados</a>
    <a href="#">Historial</a>
    <a href="#">Reportes</a>
</nav>
</body>
</html>