<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <style>
        nav {
            background-color: #333;
            padding: 2em;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<nav th:fragment="navbar">
    <button onclick="window.location.href='/employeeList'">Empleados</button>
    <button onclick="alert('Redirigiendo a Historial')">Historial</button>
    <button onclick="alert('Redirigiendo a Reportes')">Reportes</button>
</nav>
</body>
</html>